.App {
  text-align: center;
  display: flex;
  background-color: black;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-family: 'Bebas Neue', cursive;

  .side-menu {
    padding: 10px;
    width: 260px;
  }

  .side-menu-button {
    display: flex;
    align-items: center;
    height: 4%;
    justify-content: center;
    padding: 15px;
    border: 2px solid white;
    border-radius: 25px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;

    span {
      padding-left: 6px;
      padding-right: 6px;
    }

    transition: all 0.2s ease-in-out;

    &:hover {
      box-shadow: 0 0 20px gray, 0 0 10px gray, 0 0 10px gray;
      color: black;
      background: white;
    }
  }

  .chat-box {
    padding: 10px;
    position: relative;
    flex: 1;

    .chat-log {
      padding: 24px;
      text-align: center;
      display: flex;
      //overflow-y: scroll;
      //height: 100%;
      .chat-message {
        display: flex;
        padding: 12px;
        padding-left: 40px;
        padding-right: 40px;
        .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: white;
            //display: flex;
            //align-items: center;
            //justify-content: center;
            //font-size: 25px;
            //margin-right: 12px;
        }
        .message {
        padding: 12px;

        }
      }
    }

    .chat-input-holder {
      padding: 24px;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;

      .chat-input-textarea {
        background-color: black;
        color: white;
        width: 90%;
        border: 2px solid white;
        outline: none;
        resize: none;
        padding: 10px;
        font-size: 20px;
        font-family: 'Bebas Neue', cursive;
        border-radius: 30px;
        transition: all 0.2s ease-in-out;

        &::placeholder {
          display: flex;
          color: white;
          text-align: center;
          line-height: 50px;
        }

        &:hover {
          background-color: white;
          color: black;
          box-shadow: 0 0 20px gray, 0 0 10px gray, 0 0 10px gray;

          &::placeholder {
            color: black;
          }
        }
      }
    }
  }


}
